<div class="row">
  <div class="col-md-7">
    <div class="btn-group btn-group-md">
      <button class="btn btn-default" [class.active]="sortBy==='name'" (click)="sortBy='name'">By Name</button>
      <button class="btn btn-default" [class.active]="sortBy==='price'" (click)="sortBy='price'">By Price</button>
      <button class="btn btn-default" [class.active]="sortBy==='evaluation'" (click)="sortBy='evaluation'">By Evaluation</button>
    </div>

    <div class="btn-group btn-group-md">
      <button class="btn btn-default" [class.active]="filterBy==='all'" (click)="filterBy='all'">All</button>
      <button class="btn btn-default" [class.active]="filterBy==='pipe'" (click)="filterBy='pipe'">Pipe</button>
      <button class="btn btn-default" [class.active]="filterBy==='cigar'" (click)="filterBy='cigar'">Cigar</button>
      <button class="btn btn-default" [class.active]="filterBy==='happa'" (click)="filterBy='happa'">happa</button>
    </div>
  </div>
</div>

<app-product-thumbnail class="flex col-md-8" [sortBy]="sortBy" [filterBy]="filterBy" [products]="products"></app-product-thumbnail>
