<video src="../assets/smoke.mp4" id="video" autoplay="true" muted="muted"></video>
<div class="smoke container">

  <!-- <div *ngIf="setLoadingNum === 0" class="loadingTitle">
    <span>L</span>
    <span>O</span>
    <span>A</span>
    <span>D</span>
    <span>I</span>
    <span>N</span>
    <span>G</span>
  </div> -->
  
  <div (click)="click()" *ngIf="setLoadingNum === 0" class="loadingTitle">
    <span>F</span>
    <span>I</span>
    <span>L</span>
    <span>L</span>
    <span>I</span>
    <span>N</span>
    <span>G</span>
    <span style="width: 2px;"></span>
    <span>T</span>
    <span>H</span>
    <span>E</span>
    <span style="width: 2px;"></span>
    <span>B</span>
    <span>O</span>
    <span>W</span>
    <span>L</span>
  </div>
  
  <!-- <div *ngIf="setLoadingNum === 2" class="loadingTitle">
    <span>L</span>
    <span>I</span>
    <span>G</span>
    <span>H</span>
    <span>T</span>
    <span>I</span>
    <span>N</span>
    <span>G</span>
    <span style="width: 2px;"></span>
    <span>A</span>
    <span style="width: 2px;"></span>
    <span>C</span>
    <span>I</span>
    <span>G</span>
    <span>A</span>
    <span>R</span>
  </div> -->

  <div *ngIf="setLoadingNum === 1" class="loadingTitle">
    <span>W</span>
    <span>E</span>
    <span>L</span>
    <span>C</span>
    <span>O</span>
    <span>M</span>
    <span>E</span>
  </div>
  
  </div>
