  .smoke {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .smoke:before {
    content: "";
    background: #fffddd;
    width: 50%;
    height: 1px;
    position: absolute;
    top: 55%;
    animation: lineReveal 0.3s ease-in-out forwards;
  }
  
  @keyframes lineReveal {
    0% {
      left: 0%;
    }
    100% {
      left: 25%;
    }
  }
  
  .loadingTitle {
      text-align: center;
      width: 150%;
  }

  span {
    color: #fffddd;
    font-size: 120%;
    display: inline-block;
    width: 4%;
    height: 2%;
    padding: 10px;
    text-align: center;
    line-height: 4%;
    animation: textReveal 0.8s ease-out both;
  }
  
  
  @keyframes textReveal {
    0%,
    60% {
      margin-top: 100px;
      opacity: 0;
    }
  
    100% {
      margin-top: 5px;
      margin: 1;
    }
  }
  
  #video {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -1;
  }