* {
    color: aliceblue;
}

.marginAuto {
    margin: auto;
}

.productImage {
    height: 500px;
    width: 500px;
}

.evaluation {
    display: flex;
}

.condition {
    display: flex;
}

.strength {
    display: flex;
}

.addToCartButton {
    background-color: rgb(54, 51, 51);
    border: none;
    outline: none;
    margin-right: 5px;
}

.backButton {
    background-color: rgb(54, 51, 51);
    border: none;
    outline: none;
}
