<form [formGroup]="signupForm" (ngSubmit)="onSignUp()">
  <div class="form-group">
    <label for="">First Name</label><label style="color: red;" *ngIf="signupForm.get('firstName').errors?.required">*</label>
      <input id="firstNameId"
             type="text"
             class="form-control"
             placeholder="First Name (required)"
             formControlName="firstName"
             [ngClass]="{'is-invalid' : (signupForm.get('firstName').touched || signupForm.get('firstName').dirty) && !signupForm.get('firstName').valid}"/>
      <span class="invalid-feedback">
        <span *ngIf="signupForm.get('firstName').errors?.required">
          Please enter your firstName.
        </span>
        <span *ngIf="signupForm.get('firstName').errors?.minlength">
          The first name must be longer than 3 characters.
        </span>
      </span>
  </div>

  <div class="form-group">
    <label for="">Last Name</label><label style="color: red;" *ngIf="signupForm.get('lastName').errors?.required">*</label>
    <input id="lastNameId"
           type="text"
           class="form-control"
           placeholder="Last Name (required)"
           formControlName="lastName"
           [ngClass]="{'is-invalid' : (signupForm.get('lastName').touched || 
                                      signupForm.get('lastName').dirty) && 
                                      !signupForm.get('lastName').valid}"/>
    <span class="invalid-feedback">
      <span *ngIf="signupForm.get('lastName').errors?.required">
        Please enter your lastName.
        </span>
        <span *ngIf="signupForm.get('lastName').errors?.maxlength">
          The first name must be longer than 3 characters.
        </span>
      </span>
  </div>

  <div formGroupName="emailGroup">
    <div class="form-group">
      <label for="emailId">Email</label><label style="color: red;" *ngIf="signupForm.get('emailGroup.email').errors?.required">*</label>
      <input id="emailId"
             type="email" 
             class="form-control" 
             placeholder="Email (required)"
             formControlName="email"
             [ngClass]="{'is-invalid' : emailMessage }"/>
      <span class="invalid-feedback">
        {{ emailMessage }}
      </span>
    </div>

    <div class="form-group">
      <label for="confirmEmailId">Confirm Email</label><label style="color: red;" *ngIf="signupForm.get('emailGroup.confirmEmail').errors?.required">*</label>
      <input id="confirmEmailId"
             type="email" 
             class="form-control" 
             placeholder="Confirm Email (required)"
             formControlName="confirmEmail"
             [ngClass]="{'is-invalid' : signupForm.get('emailGroup').errors ||
                                        ((signupForm.get('emailGroup.confirmEmail').touched || 
                                        signupForm.get('emailGroup.confirmEmail').dirty) && 
                                        !signupForm.get('emailGroup.confirmEmail').valid) }"/>
      <span class="invalid-feedback">
        <span *ngIf="signupForm.get('emailGroup.confirmEmail').errors?.required">
          Please confirm your email address.
        </span>
        <span *ngIf="signupForm.get('emailGroup').errors?.match">
          The confirmation does not match the email address.
        </span>
      </span>
    </div>
  </div>

  <div class="form-group">
    <label for="phoneId">phone</label><label style="color: red;" *ngIf="signupForm.get('phone').errors?.required">*</label>
    <input id="phoneId"
           type="phone" 
           class="form-control" 
           placeholder="Enter your phone number..."
           formControlName="phone"
           [ngClass]="{'is-invalid' : (signupForm.get('phone').touched || signupForm.get('phone').dirty) && !signupForm.get('phone').valid}"/>
    <span class="invalid-feedback">
      <span *ngIf="signupForm.get('phone').errors?.required">
        If you want to recieve message from SMS, enter your phone number.
      </span>
    </span>
  </div>

  <div class="form-group">
    <label >Send Notification</label>
      <div>
        <div>
          <label >
            <input type="radio"
                   value="email"
                   formControlName="notification">
            Email    
          </label>
        </div>
        <div>
          <label >
            <input type="radio"
                   value="SMS"
                   formControlName="notification">
            SMS
          </label>
        </div>
      </div>
  </div>

  <div class="form-group">
    <label for="rating">Rating</label><label style="color: red;" *ngIf="signupForm.get('rating').errors?.required">*</label>
    <input id="ratingId"
           type="number" 
           class="form-control" 
           placeholder="Enter your rating number..."
           formControlName="rating"
           [ngClass]="{'is-invalid' : (signupForm.get('rating').touched || signupForm.get('rating').dirty) && !signupForm.get('rating').valid}"/>
    <span class="invalid-feedback">
      <span *ngIf="signupForm.get('rating').errors?.range">
        If you want to recieve message from SMS, enter your phone number.
      </span>
    </span>
  </div>

  <div formArrayName="addresses" *ngFor="let address of addresses.controls; let i=index">
    <div [formGroupName]="i">
      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label pt-0">Address Type</label>
        <div class="col-md-8">
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input"
                      id="addressType1Id"
                      type="radio"
                      value="home"
                      formControlName="addressType"> Home
            </label>
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input"
                      id="addressType1Id"
                      type="radio"
                      value="work"
                      formControlName="addressType"> Work
            </label>
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input"
                      id="addressType1Id"
                      type="radio"
                      value="other"
                      formControlName="addressType"> Other
            </label>
          </div>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
                attr.for="{{ 'street1Id' + i}}">Street Address 1</label>
        <div class="col-md-8">
          <input class="form-control"
                  id="{{ 'street1Id' + i}}"
                  type="text"
                  placeholder="Street address"
                  formControlName="street1">
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
                for="street2Id">Street Address 2</label>
        <div class="col-md-8">
          <input class="form-control"
                  id="street2Id"
                  type="text"
                  placeholder="Street address (second line)"
                  formControlName="street2">
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
                for="cityId">City, State, Zip Code</label>
        <div class="col-md-3">
          <input class="form-control"
                  id="cityId"
                  type="text"
                  placeholder="City"
                  formControlName="city">
        </div>
        <div class="col-md-3">
          <select class="form-control"
                  id="stateId"
                  formControlName="state">
            <option value=""
                    disabled
                    selected
                    hidden>Select a State...</option>
            <option value="AL">Alabama</option>
            <option value="AK">Alaska</option>
            <option value="AZ">Arizona</option>
            <option value="AR">Arkansas</option>
            <option value="CA">California</option>
            <option value="CO">Colorado</option>
            <option value="WI">Wisconsin</option>
            <option value="WY">Wyoming</option>
          </select>
        </div>
        <div class="col-md-2">
          <input class="form-control"
                  id="zipId"
                  type="number"
                  placeholder="Zip Code"
                  formControlName="zip">
        </div>
      </div>
    </div>
  </div>

  <div class="form-group row mb-2">
    <div class="col-md-4">
      <button class="btn btn-outline-primary"
              type="button"
              [disabled]="!addresses.valid"
              (click)="addAddress()">
        Add Another Address
      </button>
    </div>
  </div>

</form>

<button type="submit"
        [disabled]="!signupForm.valid"
        [title]="signupForm.valid? 'Sign Up' : 'Disabled until the form data is valid'"
        (click)="onSignUp()">
        Sign Up
</button>
<button [routerLink]="['/products']">Cancel</button>

<br><span style="color: white">dirty: {{signupForm.dirty}}</span>
<br><span style="color: white">touched: {{signupForm.touched}}</span>
<br><span style="color: white">valid: {{signupForm.valid}}</span>
<br><span style="color: white">value: {{signupForm.value | json}}</span>
<br>Street: {{ addresses.get('0.street1')?.value }}